nav{
    border: 2px solid black;
    background-color:black;
    color: white;
}

.nav{
    display: inline;
    margin-left: 35px;
}

a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.signup{
    margin-left: 230px;
}

.coding {
    margin-left: 410px;
}